# コメントです
# .log拡張子を持つ全てのファイルを無視
*.log      
# buildディレクトリとその中身を無視
/build/    
# ルートディレクトリにあるtemp.txtファイルを無視
temp.txt   
# CSVファイルは無視の対象
*.csv      
# 特定のファイルを無視
data.csv
# "temp" ディレクトリを無視
temp/
